



@import url('https://fonts.googleapis.com/css?family=Open+Sans|Simonetta&display=swap');

@font-face{
    font-family: 'jetbrians-mono';
    src: url('../fonts/jetbrains-mono/JetBrainsMono-Regular.ttf');
    src:url('../fonts/jetbrains-mono/JetBrainsMono-Regular.ttf')format('truetype');
    src:url('../fonts/transfonter.org-20200224-184913/JetBrainsMono-Regular.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'jetbrians-mono';
    src: url('../fonts/jetbrains-mono/JetBrainsMono-Bold-Italic.ttf');
    src: url('../fonts/jetbrains-mono/JetBrainsMono-Bold-Italic.ttf')format('truetype');
    font-weight: bold;
    font-style: italic;
}


@font-face{
    font-family: 'jetbrians-mono';
    src: url('../fonts/jetbrains-mono/JetBrainsMono-Bold.ttf');
    src: url('../fonts/jetbrains-mono/JetBrainsMono-Bold.ttf')format('truetype');
    font-weight: bold;
    font-style: normal;
}

code{

    white-space: pre;
    font-weight: 'jetbrians-mono', consolas , monospace;

}
*{

box-sizing: border-box;
    margin:0;
    padding: 0;
    font-size: 16px;


}

body{
    background-image: url(../imag/2.jpg);
    background-size: cover;/*cover the whole element*/
    background-repeat:no-repeat;
    background-position: center;/* can be co-ordinates like : 50px 75px*/
    background-attachment:fixed;
}
h1,h2,h4{
    font-family: 'Trade Winds', ;
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
    font-size: 20px;
    
}
#float-practice {
    float: left;
    margin-top: 0;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 0;
    /* margin : 0 16px 16px 0 ; */
}
#z-index-practiec{
    display: block;
    position: absolute;
    top:300px;
    right: 0;
    left: 0;   
    margin: auto;
    z-index: 1;/* visual layering think photshop .... which element should appear "on the top:*/


     
}
h2{
    font-family: 'Simonetta', ;
    font-size: 26;
    padding: 16px 0;
}
nav{ 
    width: auto;
    max-width: 500px;
    background-color: tomato;
    margin: 0 auto;
    position:fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 2;
    
    
}
nav ul{
    
    text-align: center;
    padding: 0;

}
nav ul li{
    display:inline-block;
}
nav ul li a {
    text-decoration: none;/*Disable the underline */
    display: inline-block;
    padding: 16px 32px;
}
nav ul li a:hover,nav ul li a:focus,nav ul li a:active{
    background-color: rgb(50,50,50);
    color: #fff;
}
article{
    width: 600px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    
}
p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5;
    color:rgb(16, 17, 17); /* there are a few ways to do color;*/
    background-color:none;
    

}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

  .screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }

  .hide-it{
      list-style: none;
    height: 0;
     
}
.overflow-hidden{
    overflow: scroll;
    height: 80px;
}
.overflow-visiable{
    overflow:visible;
    height: 800px;
}

#sociacl-media-links > li {/*direct child selector. the li must be directly inside  the element with the "social-media-links id in this case*/
    display: inline-block;
    margin: 8px;
   

}
#sociacl-media-links .fab{
    color:rgb(50,50,50,1);
    font-size: 45px;
}
#sociacl-media-links a:hover .fab,
#sociacl-media-links a:focus .fab,
#sociacl-media-links a:active .fab
    
{

    color: rgba(204, 29, 29, 0.5);

}


@media screen and (min-width:500px)
{

    h1{
        font-size: 64px;
    }
    h2{
     font-size: 32px;

    }
    h3{
        font-size: 28px;
    }

}
@media screen and (min-width:1024px){

    body{
        background: rgba(231, 14, 14, 0.5);
    }
    h1{
        font-size: 70px;
    }
    h2{
     font-size: 65px;

    }
    h3{
        font-size: 50px;
    }

    
}
               
