
*{

box-sizing: border-box;
    margin:0;
    padding: 0;
    font-size: 16px;


}
body{
    background-image: url(../imag/1.jpg);
    background-size: cover;/*cover the whole element*/
    background-repeat:no-repeat;
    background-position: center;/* can be co-ordinates like : 50px 75px*/
    background-attachment:fixed;
}
h1,h2{
    font-family: "Time New Roman",Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 50px;
    font-size: 46px;
    
}
h2{
    font-size: 32px;
    padding: 16px 0;
}
nav{ 
    width: auto;
    max-width: 500px;
    background-color: tomato;
    margin: 0 auto;
    position:fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    
    
}
nav ul{
    
    text-align: center;
    padding: 0;

}
nav ul li{
    display:inline-block;
}
nav ul li a {
    text-decoration: none;/*Disable the underline */
    display: inline-block;
    padding: 16px 32px;
}
nav ul li a:hover,nav ul li a:focus,nav ul li a:active{
    background-color: rgb(50,50,50);
    color: #fff;
}
article{
    width: 600px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    
}
p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5;
    color:rgb(16, 17, 17); /* there are a few ways to do color;*/
    background-color:rgb(245, 238, 238);
    

}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

  .screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }

  .hide-it{
      list-style: none;
    height: 0;
     
}
.overflow-hidden{
    overflow: scroll;
    height: 80px;
}
.overflow-visiable{
    overflow:visible;
    height: 800px;
}
